## Ignore All
/*

## Files not ignored

# --- Emacs configuration files

!.emacs.d
.emacs.d/*
!.emacs.d/init.el
!.emacs.d/early-init.el

# --- gnupg config

!.gnupg
.gnupg/*
!.gnupg/gpg-agent.conf

# --- config files

!.config
.config/*
!.config/fontconfig
!.config/youtube-dl
!.config/flake8

# --- git

!.gitconfig
!.gitignore

# --- nano

!.nanorc

# --- Misc .rc files

!.toprc
!.rtorrent.rc

# --- Lein config

!.lein
.lein/*
!.lein/profiles.clj
