## Ignore All
/*

## Files not ignored

!.gitignore

# --- Emacs configuration files

!.emacs.d
.emacs.d/*
!.emacs.d/init.el
.emacs.d/settings/custom.el
!.emacs.d/settings/
!.emacs.d/keybindings/
!.emacs.d/eshell
.emacs.d/eshell/*
!.emacs.d/eshell/alias

# --- ssh config

!.ssh
.ssh/*
!.ssh/config

# --- config files

!.config
.config/*
!.config/i3
!.config/i3status
!.config/fontconfig
!.config/youtube-dl

# --- git

!.gitconfig

# --- xinit, bash profile etc

!.Xresources
!.xinitrc
!.bash_profile

# --- Misc .rc files

!.toprc
!.rtorrent.rc
!.npmrc
