[user]
	name = Carlos Requena López
	email = carlos@requena-lopez.com
	signingkey = 4CB485A19017472A
[commit]
	gpgsign = true
[core]
	autocrlf = input
	editor = nano
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
