## Ignore All
/*
## Files not ignored
!.gitignore
# --- Emacs configuration files

!.emacs
!.emacs.d
.emacs.d/*
!.emacs.d/settings/
!.emacs.d/keybindings/

# --- ssh config

!.ssh
.ssh/*
!.ssh/config

# --- config files

!.config
.config/*
!.config/i3
!.config/i3status
!.config/git
!.config/fontconfig

# --- top config

!.toprc

# --- xinit, bash profile etc

!.Xresources
!.xinitrc
!.bash_profile
